* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

/* header */
header {
    background-color: #0084fd;
    padding: 0.625rem 0rem;
}

div.row_nav {
    border: 1px solid red;
    max-width: 1152px;
    width: 80%;
    height: auto;
    padding: 0rem 0.625rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.col_left_header {
    /* border: 1px solid blue; */
    width: calc(100% / 2);
    height: auto; 
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.box_image {
    /* border: 5px solid green; */
    width: auto;
    height: auto; 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    /* border: 1px solid yellow; */
    max-width: 100%;
    object-fit: cover;
}

div.col_right_header {
    /* border: 1px solid blue; */
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul {
    /* border: 1px solid violet; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li {
    /* border: 1px solid purple; */
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

li.radius {
    padding: 0.3125rem 0.625rem;
    border-radius: 1.25rem;
    background-color: white;
}

a.get_started {
    color: black;
}

.fa-bars {
    border: 1px solid yellow;
    width: auto;
    height: auto;
    margin-left: 0.625rem;
    font-size: 1.875rem;
    filter: invert(1);
    display: none;  
}

@media screen and (max-width: 768px) {
    div.col_right_header {
        display: none;
    }

    .fa-bars {
        display: inline-block;
    }

    






}




































/* main */
/* First Section */
.first_section {
    padding-top: 1.875rem;
    padding-bottom: 3.75rem;
}

div.row_main_up_and_down {
    border: 1px solid red;
    max-width: 1152px;
    width: 80%;
    height: auto; 
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

div.col_first_sec {
    /* border: 1px solid blue; */
    border-radius: 1.25rem;
    height: auto; 
    margin: 0.625rem;
    background-color: #b5ddff;
}

div.col_double {
   width: calc(100% / 3 - 20px);
   padding-top: 1.25rem;
   flex-grow: 2;
   display: flex;
   flex-direction: row;
}

div.info {
    /* border: 5px solid purple; */
    width: 50%;
    height: auto; 
}

h3 {
    /* border: 1px solid green; */
    color: #0e8bfd;
    padding: 20px;
}

.info h3 {
    padding-top: 0;
}

p.demo {
    /* border: 1px solid green; */
    line-height: 1.8;
    padding-left: 1.25rem;
}

div.app_box {
    /* border: 1px solid green; */
    width: 50%;
    height: auto;
    text-align: center;
    padding: 0.625rem 0rem;
    margin: 1.25rem 1.25rem;
    border-radius: 1.25rem;
    background-color: #0084fd;
}

.fa-apple {
    /* border: 1px solid green; */
    margin: 0rem 0.3125rem;
}

div.card_phone {
    /* border: 5px solid green; */
    width: calc(100% - 50%);
    height: auto; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-end;
}

.phone_img {
    /* border: 1px solid yellow; */
    max-width: 18.125rem;
    object-fit: cover;
    padding-top: 3.125rem;
}

div.col_single {
    width: calc(100% / 3 - 1.25rem);
}

div.function {
    padding-top: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-solid {
    font-size: 5rem;
    color: #0084fd;
}

p.function {
    /* border: 1px solid green; */
    line-height: 1.8;
    padding: 1.25rem;
    text-align: center;
}



/* Second Section */
.second_section {
    background-color: #9792e4;
    padding-bottom: 2.5rem;
}

div.row_main_second_sec {
    border: 1px solid red;
    max-width: 1152px;
    width: 80%;
    height: auto; 
    padding-top: 3.75rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

div.colonne {
    /* border: 2px solid blue; */
    width: 35%; 
    height: auto; 
    padding: 0rem 1.875rem;
    margin: 0rem 0.625rem;
}

.col_destra {
    background-color: white;
    border-radius: 3.125rem;
    align-self: flex-end;
}

div.card_immagine_1 {
    /* border: 1px solid yellow; */
    width: 100%;
    height: auto; 
    margin: 4.375rem 0rem;
}

div.card_immagine_2 {
    padding-top: 1.25rem;
}

.prima_immagine, .seconda_immagine {
    /* border: 1px solid violet; */
    max-width: 100%;
    object-fit: cover;
}

.informazioni_colonna {
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
}

div.mrg {
    margin-bottom: 1.875rem;
}

.titolo_bianco {
    color: white;
    line-height: 1.5;
    font-size: 1.5625rem;
    padding: 1.875rem 0rem;
    margin-top: 3.75rem;
}

.paragrafo_bianco {
    color: white;
    line-height: 1.5;
}

.titolo_nero {
    color: black;
    text-align: center;
}

.paragrafo_corsivo {
    color: #969696;
    font-style: italic;
    text-align: center;
    line-height: 1.8;
    padding-bottom: 1.25rem;
}

div.arrow_down {
    width: 3.75rem;
    height: auto;
    background-color: #9792e4;
    border-radius: 100%;
    padding: 1.25rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fa-arrow-down {
    font-size: 1rem;
    color: black;
}



/* Third Section */
div.row_main_third_sec {
    border: 1px solid red;
    max-width: 1152px;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

div.introduction {
    /* border: 1px solid green; */
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 1.875rem;
    padding-bottom: 0rem;
}

h5.testimonials { 
    text-transform: uppercase;
    font-weight: normal;
}

h2 {
    color:#9893e5;
    font-size: 1.875rem;
    padding: 1.25rem 0rem;
}

div.profile {
    /* border: 1px solid black; */
    width: 100%;
    height: auto; 
    border-radius: 3.125rem;
    margin: 1.875rem 0rem;
    display: flex;
    flex-direction: row;
    background-color: #9893e5;
}

.box_profile {
    /* border: 1px solid green; */
    width: 40%;
    height: auto;  
    padding: 1.25rem 0rem 1.875rem 0.625rem;
}

.person {
    /* border: 1px solid green; */
    width: 15.625rem;
    height: 15.625rem;
    object-fit: cover;
    border-radius: 50%;
}

div.cite {
    /* border: 1px solid green; */
    width: 100%;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3.75rem 0rem;
}

span {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
}



/* Fourth Section */
.fourth_section {
    background-color: #9792e4;
    padding-bottom: 40px;
}

div.row_main_fourth_sec {
    border: 1px solid red;
    max-width: 1152px;
    width: 80%;
    height: auto; 
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title {
    border: 1px solid red;
    max-width: 1152px;
    width: 80%;
    height: auto;  
    margin: 0 auto;
}

h2.benefits {
    font-size: 35px;
    color: white;
    text-align: center;
    padding: 2.5rem 0rem;
}

div.col_calendar {
    /* border: 1px solid green; */
    width: calc(100% / 3 - 1.25rem);
    height: auto;
    border-radius: 1.25rem;
    background-color: white;
    margin: 0.625rem 0rem;
    padding: 1.5625rem;
}

div.date {
    font-size: 3.125rem;
    font-weight: bold;
    color: #9893e5;
    padding-bottom: 1.25rem;
}

.target {
    font-size: 1.25rem;
    color: #9893e5;
    padding-bottom: 1.25rem;
}

p.description {
    line-height: 1.8;
    padding-bottom: 1.25rem;
}

div.more {
    width: 50%;
    height: auto;
    border-radius: 1.25rem;
    text-align: center;
    padding: 0.625rem 1.25rem;
    background-color: #9893e5;
    color: white;
    font-weight: bold;
}



/* Fifth Section */
.fifth_section {
    padding-bottom: 6.25rem;
}

div.row_main_fifth_sec {
    border: 1px solid red;
    max-width: 1152px;
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.col_about_us_left {
    /* border: 1px solid blue; */
    width: calc(100% - 30%);
    height: auto; 
}

div.col_about_us_right {
    /* border: 1px solid blue; */
    width: 25%;
    position: relative;
}

h2.about_us { 
    /* border: 1px solid blue; */
    font-size: 3.125rem;
}

p.para_about_us {
    line-height: 2;
}

p.pau_1 {
    /* border: 1px solid blue; */
    padding-bottom: 3.125rem;
}

div.card_elegant {
    /* border: 1px solid violet; */
    height: auto;
}

.man_elegant {
    max-width: 80%;
    object-fit: cover;
    border-radius: 50%;
}

.fa-quote-left {
    color:  #9893e5;
    position: absolute;
    left: 80%;
	transform: translate(-80%, 0);	
}

q.i_help {
    /* border: 1px solid violet; */
    width: 70%;
    height: auto;
    display: inline-block;
    color: #9893e5;
    margin: 0.625rem 0rem;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: bold;
    text-align: left;
}

div.linkedin {
    /* border: 1px solid violet; */
    width: 70%;
    height: auto;
    border-radius: 1.25rem;
    padding: 0.3125rem;
    background-color: #9893e5;
    color: white;
}

.fa-linkedin {
    /* border: 1px solid violet; */
    margin: 0rem 0.3125rem;
}




/* Sixth Section */
.sixth_section {
    background-color: #9792e4;
    padding-bottom: 2.5rem;
}

div.row_main_sixth_sec {
    border: 1px solid red;
    max-width: 1152px;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

div.col_final {
    /* border: 1px solid blue; */
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

h4.title_get_started {
    text-transform: uppercase;
    font-weight: normal;
    color: #cecdf2;
    font-size: 1rem;
    padding-top: 3.125rem;
}

h3.simple {
    color: white;
    font-size: 2.1875rem;
}

h2.free {
    color: #fdc25f;
    font-size: 4.375rem;
}

div.we_still {
    color: white;
    line-height: 1.8;
    font-size: 0.875rem;
    padding-bottom: 1.25rem;
}

div.button_get_started {
    /* border: 1px solid yellow; */
    width: 50%;
    height: auto;
    padding: 1.5625rem;
    margin: 0 auto;
    border-radius: 3.125rem;
    background-color: white;
    color: #9994e5;
}

div.copyright {
    /* border: 1px solid black; */
    color: white;
    font-size: 0.75rem;
    padding-top: 1.25rem;
}

span.privacy_policy {
    text-transform: none;
    text-decoration: underline;
    font-weight: normal;
}



/* Footer */
footer{
    background-color: #303030;
}

div.row_footer {
    border: 1px solid red;
    max-width: 1152px;
    width: 80%;
    height: auto;
    margin: 0 auto;
}

div.col_footer_1 {
    /* border: 1px solid red; */
    width: 45%;
    height: auto;
    margin: 1.875rem auto;
    text-align: center;
    color: white;
    font-size: 0.875rem;
}

div.col_footer_2 {
    /* border: 1px solid red; */
    width: 45%;
    height: auto;
    margin: 1.875rem auto;
    text-align: center;  
    font-size: 0.875rem;
    color: white;
}

a.link_footer {
    color: #908bd7;
    font-weight: normal;
    text-decoration: underline;
    text-transform: none;
}

span.last_info {
    font-weight: normal;
    text-transform: none;
}

    









