* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

/* cambia diciture px in rem */

/* header */
header {
    background-color: #0084fd;
    padding: 10px 0px;
}

div.row_nav {
    border: 1px solid red;
    max-width: 1152px;
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.col_left_header {
    /* border: 1px solid blue; */
    width: calc(100% / 2);
    height: auto; 
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.box_image {
    /* border: 5px solid green; */
    width: auto;
    height: auto; 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    /* border: 1px solid yellow; */
    max-width: 100%;
    object-fit: cover;
}

div.col_right_header {
    /* border: 1px solid blue; */
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul {
    /* border: 1px solid violet; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li {
    /* border: 1px solid purple; */
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

li.radius {
    padding: 5px 10px;
    border-radius: 20px;
    background-color: white;
}

a.get_started {
    color: black;
}

.fa-bars {
    border: 1px solid yellow;
    width: auto;
    height: auto;
    margin-left: 10px;
    font-size: 30px;
    display: none;
}



/* main */
div.row_main_up_and_down {
    border: 1px solid red;
    max-width: 1152px;
    width: 80%;
    height: 500px; /* auto */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

div.col_first_sec {
    border: 1px solid blue;
    border-radius: 20px;
    height: 400px; /* auto */
    margin: 10px;
    background-color: #b5ddff;
}

div.col_double {
   width: calc(100% / 3 - 20px);
   flex-grow: 2;
   display: flex;
   flex-direction: row;
}

div.info {
    border: 1px solid green;
    width: 50%;
    height: 350px; /* auto */
}

h3 {
    border: 1px solid green;
    color: #0e8bfd;
    font-weight: 900;
    padding: 20px;
}

p.demo {
    border: 1px solid green;
    line-height: 1.8;
    padding-left: 20px;
}

div.app_box {
    border: 1px solid green;
    width: 50%;
    height: auto;
    text-align: center;
    padding: 10px 0px;
    margin: 20px 20px;
    border-radius: 20px;
    background-color: #0084fd;
}

div.card_phone {
    border: 5px solid green;
    width: calc(100% - 50%);
    height: auto; 
    display: flex;
    flex-direction: row;
}

.fa-apple {
    border: 1px solid green;
    margin: 0px 5px;
}

.phone_img {
    border: 1px solid yellow;
    max-width: 100%;
    object-fit: cover;
    padding-top: 50px;
}

div.col_single {
    width: calc(100% / 3 - 20px);
}

div.clean_code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-file {
    font-size: 80px;
    color: #0084fd;
}

p.clean_code {
    border: 1px solid green;
    line-height: 1.8;
    padding: 20px;
    text-align: center;
}






















